@font-face {
    font-family: 'MetricRegular';
    src: local('MetricRegular'), 
        url(./fonts/MetricRegular.otf) format('opentype'),
        url(./fonts/MetricRegular.woff) format('woff');
         
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MetricSemibold';
    src: local('MetricSemibold'), 
        url(./fonts/MetricSemibold.otf) format('opentype'),
        url(./fonts/MetricSemibold.woff) format('woff');
         
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'MetricMedium';
    src: local('MetricMedium'), 
        url(./fonts/MetricMedium.otf) format('opentype'),
        url(./fonts/MetricMedium.woff) format('woff');
         
    font-style: normal;
    font-weight: 500;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body { 
    margin: 0;
    background-color: #000;
    font-family: 'MetricRegular', Arial, serif;
}

html { 
    scroll-behavior: smooth; 
}

button:hover, .button:hover { 
    color: #FFF;
    opacity: 0.9;
}